#page_header{
  text-align: center;
  background-color:darkblue;
  font-family: 'Montserrat', sans-serif;
  color: white

}


.listbtn{
  background-color: darkblue;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 2px; 
  margin-left: 2%;
  margin-right: 5%;
  width: 80%;
  margin-top: 2px;
  margin-bottom: 2px;

}


.left_div{
  height: 100%; 
}

.card-body{
  background-color: darkblue;
  color: white;
}

#searchbtn{
  background-color: darkblue;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 2px; 
  

}

h6 {
 padding-top: 0%;
 padding-bottom: 0%;
 margin-left: 10%;
 font-family: cursive;
 font-size: 30px;
}

#apiimage {
 width: 100%;
 margin-left: -10%;
}

